.heading {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-left: 0.8rem;
  border-left: 0.7rem solid #F231A5;
}

.headingMedium {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-left: 0.8rem;
  border-left: 0.7rem solid #F231A5;
}
